.loading::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8) url("http://i.stack.imgur.com/MnyxU.gif") no-repeat center center;
    opacity: 0.5;
}
body {
    text-align: center;
    padding-top: 27px;
}
* {
    font-size: 24px;
    text-transform: uppercase;
    font-family: Calibri, Arial;
}
button  {
    padding: 10px;
    border: 1px solid black;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

input {
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
}
